
h1{
    text-align: center;
}

body{
    text-align: center;
background-color: rgb(174, 223, 194);
}

.createTask{
    margin-bottom: 0.5rem;
}

.sortType{
    margin-bottom: 1rem;
   
}

.createTask .enterTask{
    height: 40px;
    width: 400px;
    border-radius: 25px;
    font-size: medium;
}

.createTask .addTask{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    background:whitesmoke ;
    font-size: medium;
}

.createTask .chouseSort{
    height: 40px;
    width: 100px;
    border-radius: 25px;
}

.card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;

   
}

.item{
    background-color: azure;
    height: 80px;
    width: 400px;
    border-radius: 25px;
    font-size: medium;
}
.itemCancel{
    font-size: medium;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    background:whitesmoke;
}
.itemDone{
    font-size: medium;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    cursor: pointer;
}
.itemDelete{
    font-size: medium;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    cursor: pointer;
}