
h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

body{
    text-align: center;
    background-color: rgb(174, 223, 194);
}

.createTask{
    margin-bottom: 0.5rem;

}

.sortType{
    margin-bottom: 1rem;
    font-size: medium;
    font-family: 'Raleway', sans-serif; 
    padding: 1rem;
   
}

.sortType .styleCheck{
    margin-left: 1.5rem;
}
 

.createTask .enterTask{
    height: 40px;
    width: 400px;
    border-radius: 25px;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    border:none;
    outline: none;
    padding-left: 1rem;
}

.createTask .addTask{
    height: 40px;
    width: 60px;
    border-radius: 25px;
    cursor: pointer;
    border:none;
    background:black; ;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    color:white
}

.createTask .chouseSort{
    height: 40px;
    width: 100px;
    border-radius: 25px;
    padding-left: 1rem;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    border:none;
    outline: none;
    background: white;
}

.card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item{
    background:white;
    height: 60px;
    width: 450px;
    border-radius: 25px;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    margin: 0.5rem;
    border:none;
    outline:none;
    padding-left: 1rem;
}

.itemCancel{
    height: 40px;
    width: 100px;
    border-radius: 25px;
    cursor: pointer;
    border:none;
    background:black; ;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    color:white
}

.itemDone{
    height: 40px;
    width: 100px;
    border-radius: 25px;
    cursor: pointer;
    border:none;
    background:black; ;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    color:white
}

.itemDelete{
    height: 40px;
    width: 100px;
    border-radius: 25px;
    cursor: pointer;
    border:none;
    background:black; ;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    color:white
}

.count{
    margin-left: 2rem;
    height: 40px;
    width: 110px;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    border:none;
    outline: none;
    background: white;
    font-size: medium;
}
